body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  margin: 0;
}

header {
  background: #020617;
  padding: 25px;
  text-align: center;
  border-bottom: 2px solid #22c55e;
}

header h1 {
  margin: 0;
  font-size: 32px;
}

.container {
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 15px;
  margin-top: 15px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

input, button {
  display: block;
  margin-top: 10px;
  padding: 12px;
  width: 100%;
  border-radius: 10px;
  border: none;
  font-size: 14px;
}

button {
  background: #22c55e;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}
